*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

body{
    width: 100svw;
    height: 100svh;
    color: aliceblue;
    background: linear-gradient(#01012e , #240019) no-repeat;
    
}

.background-container{
    display: flex;
}

/* .motion{
    width: 50px;
    height: 50px;
    background: #f00;
} */

img{
    width: 80px;
    /* transition: 3s ease-in; */
    /* transition: transform 2s ease 3s; */
    transform: translate(0px , 100px);
    animation-name: spaceMotion ;
    animation-duration: 30s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes spaceMotion {
    0%{
        transform: translate(0px, 100px) rotate(90deg);
    }
    25%{
        transform: translate(700px , 300px) rotate(150deg);
    }
    50%{
        transform: translate(0px , 650px) rotate(360deg);
    }
    75%{
        transform: translate(-700px , 300px) rotate(180deg);
    }
    100%{
        transform: translate(0px , 100px);
    }
}

.container{
    width: 100svw;
    height: 100svh;
    background-image: url("stars1.png");
    text-align: center;
    line-height: 2;
}

h1{
    font-size: 40px;
    margin-top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    width: 250px;
    height: 45px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
    transition: 1s;
    background: #ffffff93;
    color: #4f083a;
    border: none;
    border-radius: 50px;
}

button:hover{
    background: linear-gradient(#01012e69 , #24001966);
    color: aliceblue;
    box-shadow: 3px 3px 30px 3px #767474a0;

}